doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    //- meta(http-equiv="refresh" content="0;url=https://e.yamamotoyama-syouhan.com/e/wss16/")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title kanji nakahashi portfolio fv-01
    meta(name='robots' content='noindex, nofollow')
    meta(name='keywords' content='kanji, nakahashi, portfolio')
    meta(name='description' content='中橋寛治のportfolioです。')
    link(rel="stylesheet" href="https://use.typekit.net/rmq1suw.css")
    link(rel="stylesheet" href="css/style-fv-01.css")
body
  wrapper
    header.header
      .header__box
        canvas.header__mv#header__mv
        h1
          img.header__ttl(src="images/kanji-nakahashi.png" alt="kanji nakahashi")
          img.header__ttl-02(src="images/portfolio.png" alt="portfolio")
        //- h1.header__ttl-03 kanji nakahashi
        //- p.header__txt portfolio
   
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js")
  script(src="https://rawgithub.com/mrdoob/three.js/master/examples/js/renderers/CSS3DRenderer.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="js/function-fv-01.js")

//- npx pug first-view-01.pug --watch --pretty










